repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: mixed-line-ending
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.6.8
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        args: ["--config", "pyproject.toml"]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        additional_dependencies: []
        args: ["--hide-error-codes", "--no-error-summary"]
        exclude: ^(src/deepsuite/model/autoencoder\.py|src/deepsuite/model/autoencoder_configs\.py|src/deepsuite/model/feature/wavenet\.py|src/deepsuite/model/tracking/tracking\.py|src/deepsuite/utils/taskAlignedAssigner\.py)$
